@model IEnumerable<WebAppRentAcar.Models.Car>

<h1>Available Cars</h1>

@if (!Model.Any())
{
    <p>No cars available.</p>
}
else
{
    <div class="row">
        @foreach (var car in Model)
        {
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5>@car.Brand @car.Model</h5>
                        <p>Year: @car.Year</p>
                        <p>Passengers: @car.Passengers</p>
                        <p>Price per day: @car.PricePerDay</p>
                        <p>@car.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
}